* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(239,241,237);
    background-size: cover;
}
/* nav styling */
nav {
    background-color: rgb(231,111,81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}

nav h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: rgb(246, 252, 255);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px
}

.nav-links a {
    color: rgb(246, 252, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: rgb(244,162,97);
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    width: 25px;
    height: 18px;
    justify-content: space-between;
}

.hamburger span {
    background: rgb(204,215,198);
    height: 30px;
    width: 100%;
    border-radius: 2px;
}
/* hero styling */
.hero {
    min-height: 20vh;
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: top;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
    padding: 2rem;
    transition: background 400ms ease;
    background-image: radial-gradient(circle at center, rgb(231,111,81), rgb(244,162,97));
    background-size: cover, cover;
    background-position: center;
    color: rgb(239,241,237);
}

/* intro to Deb styling */
h2 {
    text-align: center;
}

.container {
    display: flex;
    gap: 0px;
    box-shadow: 0 -2px 6px rgba(40,101,105,0.5)
}

.container img {
    width: auto;
    height:600px;
    margin: 80px 40px 10px 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}

.imaginedebBackstory {
    font-size: 18px;
    margin: 50px 100px 10px 5px;
    background-color: rgb(37, 150, 190);
    width: 400px;
    padding: 30px;
    margin: 50px auto; 
    border-radius: 8px;
    color: rgb(239,241,237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
    
}

.box {
    padding: 0px 40px 0px;
    background-color: rgb(239,241,237);
    color: rgb(99,90,75);
    text-align: left;
    border-radius: 0px;
    margin: 50px 2px 10px 5px;

}

.box h2 {
    background-color: rgb(37, 150, 190);
    padding: 30px;
    margin: 50px auto; 
    border-radius: 8px;
    color: rgb(239,241,237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}

.box ul li {
    text-align: left;
}
     .hidden {
          display: none; 
          
      }
      .visible {
          display: block; 
      }
/*Table Styling*/
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: rgb(239,241,237);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.musicsection {
    background-image: url(FinalWebsiteImages/slideImages/fihhopefully.jpg);
    background-position: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
    margin: 0px;
    padding: 0px;
}
.musicsection h1 {
    background-color: rgb(37, 150, 190);
    padding: 30px;
    margin: 50px 50px auto; 
    border-radius: 8px;
    color: rgb(239,241,237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);

}

th, td {
    padding: 12px 15px;
    text-align: left;
}
th { 
    background-color: rgb(231,111,81);
    color:#252f31;
    text-transform: uppercase;
    letter-spacing: 1px;
}
tr:nth-child(even){
    background-color:rgb(219, 235, 235);
}
tr:hover {
    background-color:  rgb(232, 131, 105);
    transition: background-color 0.2s ease;
    color:azure;
}

.checked {
    color: rgb(233,196,106);
}

