
* {
    margin:0px
}

header {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(239,241,237);
}

nav {
    background-color: rgb(231,111,81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}

nav h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: rgb(246, 252, 255);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px
}

.nav-links a {
    color: rgb(246, 252, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: rgb(244,162,97);
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    width: 25px;
    height: 18px;
    justify-content: space-between;
}

.hamburger span {
    background: rgb(204,215,198);
    height: 30px;
    width: 100%;
    border-radius: 2px;
}

.hero {
    min-height: 60vh;
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
    padding: 2rem;
    transition: background 400ms ease;
    background-image: url("FinalWebsiteImages/slideImages/fihhopefully.jpg");
    background-size: cover, cover;
    background-position: center;
}


.hero-content{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(1.5rem, 4.5vw, 4rem);
    line-height: 1.05;
    text-shadow: 0 6px 20px rgba(0,0,0,0.3);
    z-index: 2;
    color: rgb(37, 150, 190);
    font-size: 30px;
    border-radius: 4px;
    background-color: azure;
    padding: 3vh;
}


/* Flex container for the card */
.flex-container {
    display: flex;
    justify-content: center; /* center card horizontally */
    align-items: center;     /* center card vertically inside this row */
    min-height: 400px;       /* space to see vertical centering */
    background-color: rgb(239,241,237);
}

/* Card styles */
#WhoAmI {
    background-color: rgb(231,111,81);
    background-size: cover, cover;

h1 {
    margin: 0px;
    background-color: rgb(231,111,81);
    padding: 20px;
    color: rgb(246, 252, 255);
}

}
.team-member-card {
    width: 200vh;
    border: 5px solid rgb(47, 72, 97);
    border-radius: 5px;
    padding: 7px;
    margin: 20px 50px 50px 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;  /* image on top, text below */
    align-items: center;     /* center image + text horizontally */
}

    .team-member-card img {
    width: auto;
    height: 450px;
    border-radius: 4px;
    border-color: rgb(47, 72, 97);
}

#debintro {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 10px;
}

    .team-member-card p {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.poll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 700px;
    height: 70px;
    background-color: rgb(37, 150, 190);
    color: rgb(239,241,237);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}

.new-color-wrong {
    background-color:red ;
}


footer {
    background-color: rgb(233,196,106);
    color: rgb(38,70,83);
    text-align: center;
    padding: 10px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.5)
}
