.rightanswer {
    background-color: rgb(37, 150, 190);
    width: 675px;
    padding: 20px;
    margin: 50px auto; 
    border-radius: 8px;
    color: rgb(239,241,237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}

body {
    background-color: rgb(239,241,237);
}

img {
    width: auto;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.447);
}